@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
}
#card {
  margin-left: 1rem;
  width: 18rem;
  height: 25rem;
  border-radius: 1.5rem;
}
.bordesLaterales {
  padding-left: 1rem;
  padding-right: 1rem;
}
.positionButton {
  margin-left: 4rem;
  top: 60%;
}
.btn-secondary {
  background-color: #2daf73;
  border-color: #21a266;
}

.btn-secondary:hover {
  background-color: #42cf8d;
  border-color: #42cf8d;
}
.btn-secondary:active {
  background-color: #42cf8d;
  border-color: #42cf8d;
}
